<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934569927713-n632i8ti3f4hbqij9tl6lui4q1gks6vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934569927713-n632i8ti3f4hbqij9tl6lui4q1gks6vk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934569927713-tpb2pt3jl6h7jd9nb83mm0fjhajk0f5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpNTEeTs0qi93MUmQLzBvJ_NsBPzWOxpk</string>
	<key>GCM_SENDER_ID</key>
	<string>934569927713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musgo.vendaseproducao</string>
	<key>PROJECT_ID</key>
	<string>app-vendas-e-producao</string>
	<key>STORAGE_BUCKET</key>
	<string>app-vendas-e-producao.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934569927713:ios:5177d6a5a3d97432726f60</string>
</dict>
</plist>
